@media (max-width: 1200px)
  .container, .newsletter-wrapper
    max-width: 960px
  .hotel
    &__slider
      margin-right: 30px
    &-slider
      max-width: 700px
      height: 450px
      overflow: hidden
      &__image
        min-height: 100%
        object-fit: cover
  .card
    width: 230px
    height: 230px
  

  .packages
    &-card
      &__content 
        padding: 26px 21px 25px 44px
  

  .footer
    &__input
      flex-basis: 100%
    &__copyrait
      margin-left: 80px
    &__title
      font-size: 15px
    &__item
      font-size: 13px
      
  

@media (max-width: 992px)
  .container, .newsletter-wrapper
    max-width: 700px
  .logo
    width: 132px
  .navbar
    &-top
      padding-top: 30px
      padding-bottom: 30px
    &__search
      margin-left: auto
    &__menu
      padding-top: 22px
      padding-bottom: 22px
      &__link
        font-size: 12px
        line-height: 15px
  .search
    &__input
      width: 340px
  .hotel
    &-grid
      flex-direction: column
    &__slider
      margin-bottom: 30px
    &-right
      flex-direction: row
    &-slider
      width: 100%   
  .booking
    width: 340px
  .map
    width: 340px 
  .reviews
    padding: 40px 0 40px 0
    &-slider
      &__item
        max-width: 580px
  .activities
    padding-top: 40px
    padding-bottom: 70px  
    &-wrapper
      flex-wrap: wrap
    &__card
      margin-bottom: 20px
  .card
    width: 340px
    height: 250px


  .packages
    &-grid
      grid-template-rows: repeat(3, 1fr)
    &-card
      &__content 
        padding: 46px 21px 25px 44px
  .card-1
    grid-row: 1 / 2
    grid-column: 1 / 13
  .card-2
    grid-row: 2 / 3
    grid-column: 1 / 7
  .card-3
    grid-row: 2 / 3
    grid-column: 7 / 13
  .card-4
    grid-row: 3 / 4
    grid-column: 1 / 7
  .card-5
    grid-row: 3 / 4
    grid-column: 7 / 13


  .footer
    padding-top: 80px
    padding-bottom: 40px
    &-wrapper
      grid-template-columns: repeat(6, 1fr)
      grid-row-gap: 40px
    &__input
      flex-basis: 48%
    &__logo
      &_wrapper
        grid-row: 1 / 2
        grid-column: span 2
    &__social
      &-network
        grid-row: 1 / 2
        grid-column: 3 / 7
        align-self: center
    &__categories
      grid-row: 2 / 3
      grid-column: span 2
    &__legal
      grid-row: 2 / 3
      grid-column: span 2
    &__additional
      grid-row: 2 / 3
      grid-column: span 2
    &__contact
      &-details
        grid-column: span 5
        grid-row: 3
      &-form
        grid-column: span 5
        grid-row: 4
    &__bottom
      grid-column: 1 / 7
      margin-top: 5px
    &__copyrait
      margin: 0
    &__link
      &_wrapper
        max-width: 100%

  .modal
    &__dialog
      padding: 33px 58px
      


@media ( max-width: 899px  )
  .modal
    &__box
      display: flex
      flex-direction: column
      align-items: start
    &__button
      order: 2
    &__info
      margin-bottom: 15px
      order: 1
  
@media (max-width: 768px)
  // body.lock
  //   overflow: hidden
  
  .container
    max-width: 576px
    width: 92%
  body
    padding-top: 78px
  .navbar
    &__mobile
      &_fixed
        position: fixed
        left: 0
        top: 0
        right: 0
        z-index: 99
    &__user, &__search
      &_mobile
        &_hidden
          display: none
        &_visible
          display: flex
    &__user
      flex-direction: column
      justify-content: center
    &-bottom
      // display: none
      // bottom: 0
      // top: 78px
      position: fixed
      left: 0
      right: 0
      top: -150%
      padding-top: 30px
      transition: all 0.7s ease 0s
      &--visible
        // display: block
        // transition: all 0.3s ease 0s
        // добавляем скролл бургер меню
        overflow: auto
        top: 78px
        bottom: 0
    &-menu
      flex-direction: column
      &__item
        margin-bottom: 20px
        &_mobile
          &_visible
            display: block
  .menu
    &-button
      display: flex
      // width: 16px
      height: 11px
      padding: 0
      align-items: center
      justify-content: space-between
      flex-direction: column
      border: none
      background-color: #fff
      // cursor: pointer
      &__line
        width: 16px
        height: 1px
        background-color: $text-color
  .user
    &__name
      &_light
        color: $light
        margin: 0
        margin-top: 10px

  
  .hotel
    &-name
      flex-basis: 100%
    &-wrapper
      justify-content: space-between
    &-info
      &__text
        width: 100%
      &__name
        margin-top: 10px
        margin-bottom: 0  
      &__rating
        display: none
      &__offer
        order: -1
        margin-left: 0
  .stars
    flex-basis: auto
  .hotel
    &-right
      flex-direction: column
      min-height: 450px
    &__slider
      margin-right: 20px
    &-slider
      width: 100%
      height: 350px
      overflow: hidden
      &__image
        width: 100%
        // height: auto
        object-fit: cover
        
  .booking
    width: 100%
  .map
    width: 100%
  .newsletter
    &-wrapper
      max-width: 576px
      width: 92%
      flex-direction: column
      align-items: flex-start
    &-title
      width: 100%
  .subscribe 
    width: 100%
  .reviews
    padding: 40px 0 40px 0
    &__title
      font-size: 30px
      line-height: 38px
      margin-bottom: 50px
    &-slider
      &__item
        padding: 0 30px 30px
        &:after, &::before
          display: none
      &__button
        top: 30px
        &--prev
          left: 50%
          margin-left: -65px
          transform: translate(-50%, 0) 
        &--next
          right: 50%
          margin-right: -65px
          transform: translate(50%, 0)


  .activities
    padding-top: 40px
    padding-bottom: 60px 
    &__title
      font-size: 18px
      line-height: 23px
      margin-bottom: 36px
  .card
    width: 49%
    height: 255px
    &__image
      width: 100%
      object-fit: cover


  .packages
    padding-top: 20px
    &__title
      font-size: 30px
      line-height: 38px
    &-grid
      gap: 20px
      align-items: start
      margin-top: 60px
    &-card
      height: 400px
      &__cards
        height: 400px
      &__content 
        padding: 20px 21px 25px 20px
        &-contents
          padding: 15px 21px 20px 30px
          height: 200px
      &__image
        height: 400px
        &-images
          height: 200px
      &__picture
        &-pictures
      &__content
        height: 400px
  .box
    &__title
      font-size: 14px
      line-height: 15px
      &-titles
        font-size: 14px
        line-height: 15px
    &__text
      font-size: 12px
      line-height: 18px
      margin-top: 15px
    &-info
      margin-top: 28px
      &__infos
        margin-top: 15px
      &__room
        margin-top: 7px
    &-price
      margin-top: 28px
      &__prices
        margin-top: 15px
      &__underline
        font-size: 21px
        margin-top: 5px
        &-underline
          font-size: 21px
          margin-top: 5px
    &__button
      padding: 10px 20px
      &-buttons
        padding: 10px 20px


  .footer
    padding-top: 73px
    padding-bottom: 33px
    &__input
      flex-basis: 100%
    &__logo
      width: 104px

  .modal
    &__overlay
      &--visible
    &__dialog
      padding: 33px 38px
      &--visible
      &_hidden



@media (max-width: 580px)
  .box
    &-info
      margin-top: 19px
    &-price
      margin-top: 19px



@media (max-width: 576px)
  .logo
    width: 99px
  .hotel
    &-name
      font-size: 22px
      line-height: 30px
    &__slider
      margin-bottom: 20px
    &-slider
      width: 100%
      height: 300px
      overflow: hidden
      &__image
        width: 100%
        height: 100%
        object-fit: cover


  .newsletter
    padding: 76px 0 83px 0
    &__title
      margin-bottom: 37px
  .subscribe
    width: 100%
  .reviews
    padding: 40px 0 0 0
    &__title
      font-size: 18px
      line-height: 23px
      margin-bottom: 42px
    &-slider
      &__item
        padding: 0 30px 36px
  .activities
  .card
    width: 100%
    height: 255px
    overflow: hidden
    &__image
      

  .packages
    &__title
      font-size: 25px
      line-height: 30px
    &-grid
      grid-template-rows: repeat(5, 1fr)
      margin-top: 50px
    // .packeges
    // .box
  .none
    &-stars
      display: none
    &-text
      display: none
  .packages
    &-card 
      height: 300px
      &__cards
        flex-direction: row
        height: 300px
      &__image
        // width: 100%
        height: 300px
        &-images
          // width: 100%
          height: 300px
          border-radius: 8px 0px 0px 8px
      &__offer
        font-size: 8px
        line-height: 10px
        padding: 4px 9px
      &__content
        height: 300px
        padding: 25px 20px 25px 20px
        display: flex
        flex-direction: column
        justify-content: space-between
        &-contents
          height: 300px
          border-radius: 0px 8px 8px 0px
          padding: 25px 20px 25px 20px
          display: flex
          flex-direction: column
          justify-content: space-between
  .box
    &__title
      margin: 0
    &-info
      margin: 0
      &__infos
        margin: 0
    &-price
      margin: 0
      display: flex
      align-items: flex-end
      &__prices
        margin: 0
        display: flex
        align-items: flex-end
    &__wrapper
      &-wrappers
    &__button
      margin: 0
      &-buttons
        margin: 0
  .card-1
    grid-row: 1 / 2
    grid-column: 1 / 13
  .card-2
    grid-row: 2 / 3
    grid-column: 1 / 13
  .card-3
    grid-row: 3 / 4
    grid-column: 1 / 13
  .card-4
    grid-row: 4 / 5
    grid-column: 1 / 13
  .card-5
    grid-row: 5 / 6
    grid-column: 1 / 13


  .footer
    padding-top: 69px
    padding-bottom: 21px
    &-wrapper
      grid-template-columns: 1fr
    &__logo
      width: 104px
      grid-row: 1
      grid-column: 1
    &__social
      &-network
        grid-row: 2
        grid-column: 1
    &__additional
      grid-row: 3
      grid-column: 1
    &__categories
      grid-row: 4
      grid-column: 1
    &__legal
      grid-row: 5
      grid-column: 1
    &__contact
      &-details
        grid-row: 6
        grid-column: 1 / 7
      &-form
        grid-row: 7
        grid-column: 1 / 7
    &__bottom
      grid-row: 8 / 9
    &__form
      display: flex
    &__message
      width: 100%
      height: 123px
      margin-bottom: 15px
    &__title
      &--mb-3
        margin-bottom: 15px
    &__box
      display: flex
      flex-direction: column
      align-items: start
    &__button
      order: 2
    &__info
      margin-bottom: 15px
      order: 1
      
  .modal
    &__dialog
      min-width: 70%

@media (max-width: 510px)
  .footer
    &__bottom
      // display: flex
      flex-direction: column
      align-items: start
      grid-row: 8 / 9
    &__payment
      margin-top: 10px



@media (max-width: 480px)
  .navbar
    &-top
      padding-top: 27px
      padding-bottom: 27px 
    &-bottom
      // top: 72px
      &--visible
        top: 72px
  .newsletter
    &-title 
      font-style: normal
      font-weight: 300
      font-size: 20px
      line-height: 25px
      &__strong
        font-size: 30px
        line-height: 38px
  .subscribe 
    &__input
      padding-left: 20px


  .hotel
    &-slider
      width: 100%
      height: 250px
      overflow: hidden
      &__image
        width: 100%
        height: 100%
        object-fit: cover


  .packages 
    
    &__title
      font-size: 20px
      line-height: 25px
    &-card   
      &__cards 
      &__content
        padding: 25px 15px 25px 15px
        &-contents
          padding: 25px 15px 25px 15px
  .box
    &-info
      &__infos
      &__ridge
        display: flex
      &__room
        display: flex
      &__icon
        margin-right: 8px
      &__text 
        font-size: 10px
        line-height: 13px
    &__button
      padding: 7px 15px
      &-buttons
        padding: 7px 15px


  .footer
    &__social
      &-network
        display: flex
        flex-direction: row
        flex-wrap: wrap
        // align-items: end
        // align-self: start
      &-links
        margin-top: 22px
    &__title
      &--inline
        flex: 0 1 100%
  
  .modal
    &__dialog
      min-width: 80%


@media (max-width: 440px)
  .packages 
    &-card   
      &__cards 
      &__content
        align-items: center
        justify-content: space-between
        &-contents
          align-items: center
          justify-content: space-between
  .box
    &__title 
      font-size: 12px
      line-height: 12px
      &-titles
        font-size: 12px
        line-height: 12px
    &-info
      margin-bottom: 20px
      &__infos
        margin-bottom: 20px
      &__ridge
        // display: flex
        display: none
      &__room
        display: flex
      &__icon
        margin-right: 8px
      &__text 
        font-size: 10px
        line-height: 13px
    &-price
      display: flex
      flex-direction: column
      align-items: center
      &__prices
        display: flex
        flex-direction: column
        align-items: center
      &__wrapper
        align-items: center
        margin-bottom: 30px
        &-wrappers
          align-items: center
          margin-bottom: 30px
    &__button
      padding: 7px 15px
      &-buttons
        padding: 7px 15px



@media (max-width: 400px)
  .navbar
    &__mobile
  .search
    &__input
      width: 240px

@media ( max-height: 360px )
  .modal
    &__dialog
      max-height: 340px
      // min-width: 75%
      padding: 25px 20px
    &__input
      padding: 0 13px
      font-size: 12px
      height: 40px
      margin-bottom: 7px
    &__message
      padding-left: 13px
      font-size: 12px
      height: 50px
      margin-bottom: 7px
    &__title
      font-size: 15px
      line-height: 18px
      margin: 0
      margin-top: 0px
      margin-bottom: 7px
    &__info
      margin-bottom: 7px
    &__button

@media (max-width: 350px)
  .footer
    &__contact
      &-details
      &-form
        grid-row: 7
        grid-column: 1 / 6
    


@media (max-width: 320px)
  .navbar
    &-top
      padding-top: 25px
      padding-bottom: 25px
    &-bottom
      // padding-top: 20px
      // top: 68px
      &--visible
        top: 68px


  .footer
    &-wrapper
      grid-gap: 10px
    &__contact
      &-details
      &-form
        grid-row: 7
        grid-column: 1 / 7
    &__copyrait
      width: 290px
      margin-top: 30px
    &__button
      margin-top: 15px
    &__info
      margin: 0
    &__additional
      margin-top: 30px
    &__categories
      margin-top: 30px
    &__social
      &-links
        margin-top: 20px
      &-network
        margin-top: 30px
    &__legal
      margin-top: 30px
    &__contact
      &-details
        margin-top: 40px
      &-form
        margin-top: 60px

  .modal
    &__dialog
      min-width: 75%
      padding: 25px 20px
    &__input
      padding: 0 13px
      font-size: 12px
      height: 40px
      margin-bottom: 10px
    &__message
      padding-left: 13px
      font-size: 12px
      height: 100px
      margin-bottom: 10px
    &__title
      font-size: 15px
      line-height: 18px
      margin: 0
      margin-top: 10px
      margin-bottom: 10px
    &__info
      margin-bottom: 10px
    &__button
    



  
@media (max-width: 290px)
  .footer
    &__contact
      &-form
        grid-row: 7
        grid-column: 1 / 6
    &__copyrait
      flex-direction: column
      align-items: flex-start
      justify-content: space-between
    &__text
      &--bottom
        font-size: 12px
        line-height: 15px
        margin-top: 7px



@media (max-width: 280px)
  .navbar
    &__mobile
  .search
    &__input
      width: 220px


  .footer
    &-wrapper
      grid-gap: 10px
      &-form
        grid-row: 7
        grid-column: 1 / 4
    &__text
      &--bottom
        font-size: 10px
        line-height: 12px
        margin-top: 5px
    
    
