@media (max-width: 1200px)
  .container, .newsletter-wrapper
    max-width: 960px
  .hotel
    &__slider
      margin-right: 30px
    &-slider
      max-width: 700px
      height: 450px
      overflow: hidden
      &__image
        min-height: 100%
        object-fit: cover
  .card
    width: 230px
    height: 230px
  .footer
    &__input
      &-group
        flex-basis: 100%
    &__copyrait
      margin-left: 80px
    &__title
      font-size: 15px
    &__item
      font-size: 13px

@media (max-width: 992px)
  .container, .newsletter-wrapper
    max-width: 700px
  .logo
    width: 132px
  .navbar
    &-top
      padding-top: 30px
      padding-bottom: 30px
    &__search
      margin-left: auto
    &-menu
      padding-top: 22px
      padding-bottom: 22px
      &__link
        font-size: 12px
        line-height: 15px
      &__link:hover
        box-shadow: none
    &__input
      width: 340px
  .search
    &__input
      width: 315px
    &__button:hover
      background-color: $primary
      box-shadow: none
  .user
    &__avatar:hover
      box-shadow: none
    &__name:hover
      text-decoration: none
  .breadcrumb
    &-list
      &__link:hover
        text-decoration: none
  .hotel
    &-grid
      flex-direction: column
    &__slider
      margin-bottom: 30px
    &-right
      flex-direction: row
    &-slider
      width: 100%
      &__button
        &--next:hover
          border-radius: none
          box-shadow: none
          background-color: transparent
        &--prev:hover
          border-radius: none
          box-shadow: none
          background-color: transparent
  .offer:hover, focus, active
    border-radius: 3px
    box-shadow: none
  .rating:hover, focus, active
    border-radius: 4px
    box-shadow: none
  .booking
    width: 340px
    height: 210px
    &__number:hover
      color: $light
      text-decoration: none
    &__button
      line-height: 12px
    &__button:hover, focus, active
      border-radius: 4px
      box-shadow: none
  .map
    width: 340px
    height: 210px
  .subscribe
    &__button:hover
      background-color: $primary
      box-shadow: none
  .reviews
    padding: 15px 0 20px 0
    &__title
      font-size: 29px
      line-height: 40px
      margin-bottom: 50px
    &-slider
      &__item
        max-width: 580px
      &__button
        top: 43%
        &--prev:hover, focus, active
          border-radius: 0
          box-shadow: none
          background-color: transparent
        &--next:hover, focus, active
          border-radius: 0
          box-shadow: none
          background-color: transparent
  .activities
    padding-top: 20px
    padding-bottom: 52px
    &-wrapper
      flex-wrap: wrap
    &__card
      margin-bottom: 20px
  .card
    width: 340px
    height: 255px
    &__title
      width: 190px
    &_button:hover, focus, active
      border-radius: 4px
      box-shadow: none
  .footer
    padding-top: 50px
    padding-bottom: 40px
    &-wrapper
      grid-template-columns: repeat(12, 1fr)
      grid-row-gap: 40px
    &__input
      &-group
        flex-basis: 48%
    &__logo
      width: 100px
      &_wrapper
        grid-row: 1 / 2
        grid-column: span 2
    &__title
      font-size: 18px
      // line-height: 15px
      // margin: 25px 45px 0 7px
      &--inline
        margin-top: 25px
    &__social
      &-links
        margin-top: 25px
      &-network
        grid-row: 1 / 2
        grid-column: 4 / 10
        align-self: center
    &__categories
      grid-row: 2 / 3
      grid-column: 1 / 4
    &__legal
      grid-row: 2 / 3
      grid-column: 9 / 13
      margin-left: 20px
    &__additional
      grid-row: 2 / 3
      grid-column: 4 / 9
      margin-left: 20px
    &__contact
      &-details
        grid-row: 3
        grid-column: 1 / 10
        margin-top: 30px
      &-form
        grid-row: 4
        grid-column: 1 / 11
        margin-right: 40px
    &__item
      font-size: 15px
      line-height: 21px
    &__text
      font-size: 15px
      &--bottom
        font-size: 12px
        margin-right: 10px
    &__input
      margin-top: 5px
    &__bottom
      grid-column: 1 / 13
      margin-top: 15px
    &__copyrait
      margin: 0
      justify-content: start
    &__link
      font-size: 14px
      &_hover:hover
        box-shadow: none
      &_wrapper
        max-width: 100%
    &__button:hover, focus, active
      border-radius: 4px
      box-shadow: none
  .modal
    &__dialog
      padding: 33px 58px
    &__button:hover, focus, active
      border-radius: 4px
      box-shadow: none
  .thankyou
    &__button:hover, focus, active
      border-radius: 4px
      box-shadow: none

@media ( max-width: 899px  )
  .modal
    &__box
      display: flex
      flex-direction: column
      align-items: start
    &__button
      order: 2
    &__info
      margin-bottom: 15px
      order: 1

@media (max-width: 768px)
  .container
    // max-width: 576px
    width: 92%
  body
    // padding-top: 78px
  .navbar
  .search
    &__input
      padding-left: 0
  .hotel
    &-name
      // flex-basis: 100%
    &-wrapper
      display: flex
      flex-wrap: wrap
      align-items: center
      // justify-content: space-between
    &-slider
      max-width: 700px
      min-height: 450px
    &-info
      &__text
        width: 100%
      &__name
        margin-top: 10px
        margin-bottom: 0
      &__rating
        // display: none
      &__offer
        // order: -1
        // margin-left: 0
  .stars
    // flex-basis: auto
  .hotel
    padding-bottom: 61px
    &-right
      flex-direction: row
      // min-height: 450px
      justify-content: space-between
    &__slider
      margin-right: 20px
    &-slider
      width: 100%
      height: 350px
      overflow: hidden
      &__image
        width: 100%
        // height: auto
        object-fit: cover
  .booking
    width: 340px
  .map
    width: 340px
    &__image
      width: 100%
      height: 210px
  .newsletter
    padding-bottom: 74px
    &-wrapper
      //   max-width: 92%
      //   flex-direction: column
      //   align-items: flex-start
    &__title
      margin-top: 10px
      // margin: 0
  .subscribe
    width: 350px
  .reviews
    padding: 13px 0 40px 0
    &__title
      font-size: 29px
      line-height: 38px
      margin-bottom: 50px
    &-slider
      &__text
        max-width: 452px
      &__item
        padding: 0 30px 30px
        &:after, &::before
          display: none
      &__button
        top: 30px
        &--prev
          left: 50%
          margin-left: -65px
          transform: translate(-50%, 0)
        &--next
          right: 50%
          margin-right: -65px
          transform: translate(50%, 0)
  .activities
    padding-top: 5px
    padding-bottom: 50px
    // &__title
    // font-size: 18px
    // line-height: 23px
    // margin-bottom: 36px
  .card
    width: 49%
    height: 255px
    &__image
      width: 100%
      object-fit: cover
  .footer
    padding-top: 50px
    padding-bottom: 33px
    &__input
      &-group
        // flex-basis: 100%
    &__logo
      width: 98px
    &__title
      &--inline
        margin-right: 52px
    &__item
      line-height: 22px
    &__social
      &-links
        margin-top: 25px
    &-network
    &__categories
      margin-top: 4px
    &__legal
      margin-top: 4px
    &__additional
      margin-top: 4px
    &__contact
      &-details
        margin-top: 23px
      &-form
    &__icon
      margin-top: 2px
      margin-left: 5px

  .modal
    &__dialog
      padding: 33px 38px

@media (max-width: 767px)
  body
    padding-top: 78px
  .navbar
    &__mobile
      &_fixed
        position: fixed
        left: 0
        top: 0
        right: 0
        z-index: 99
    &__user, &__search
      &_mobile
        &_hidden
          display: none
        &_visible
          display: flex
    &__user
      flex-direction: column
      justify-content: center
    &-bottom
      position: fixed
      left: 0
      right: 0
      top: -150%
      padding-top: 30px
      transition: all 0.7s ease 0s
      &--visible
        // добавляем скролл бургер меню
        overflow: auto
        top: 78px
        bottom: 0
    &-menu
      flex-direction: column
      &__item
        margin-bottom: 20px
        &_mobile
          &_visible
            display: block
  .menu
    &-button
      display: flex
      // width: 16px
      height: 11px
      padding: 0
      align-items: center
      justify-content: space-between
      flex-direction: column
      border: none
      background-color: #fff
      &__line
        width: 16px
        height: 1px
        background-color: $text-color
  .user
    &__name
      &_light
        color: $light
        margin: 0
        margin-top: 10px
  .logo
    width: 99px
  .hotel
    &-name
      flex-basis: 100%
    &-wrapper
      justify-content: space-between
    &-info
      &__text
        width: 100%
      &__name
        margin-top: 10px
        margin-bottom: 0
      &__rating
        display: none
      &__offer
        order: -1
        margin-left: 0
    &__slider
      margin-bottom: 20px
    &-right
      flex-direction: column
  .booking
    width: 100%
  .map
    margin-top: 20px
    width: 100%
  .stars
    flex-basis: auto
  .newsletter
    &-wrapper
      max-width: 92%
      flex-direction: column
      align-items: flex-start
  .subscribe
    margin-top: 10px
    width: 100%

@media (max-width: 576px)
  .hotel
    &-name
      font-size: 22px
      line-height: 30px
    &__slider
      margin-bottom: 20px
    &-slider
      // width: 100%
      min-height: 300px
      max-height: 300px
      overflow: hidden
      &__image
        width: 100%
        height: 100%
        object-fit: cover
  .subscribe
    width: 100%
  .reviews
    padding: 40px 0 0 0
    &__title
      font-size: 18px
      line-height: 23px
      margin-bottom: 42px
    &-slider
      &__item
        padding: 0 30px 36px
  .activities
  .card
    width: 100%
    height: 255px
    overflow: hidden
    &__image
  .footer
    padding-top: 69px
    padding-bottom: 21px
    &-wrapper
      grid-gap: 20px
      // grid-template-columns: repeat(12, 1fr)
    &__logo
      width: 104px
      grid-row: 1
      grid-column: 1
      &-wrapper
        grid-column: 1 / 13
    &__social
      &-network
        grid-column: 1 / 13
        grid-row: 2
        flex-direction: column
        align-items: start
    &__additional
      grid-column: 1 / 13
      grid-row: 3
      margin-left: 0
    &__categories
      grid-column: 1 / 13
      grid-row: 4
    &__legal
      grid-column: 1 / 13
      grid-row: 5
      margin-left: 0
    &__contact
      &-details
        grid-column: 1 / 13
        grid-row: 6
        margin-right: 0
      &-form
        grid-column: 1 / 13
        grid-row: 7
        margin-right: 0
    &__bottom
      grid-row: 8 / 9
    &__form
      display: flex
      flex-direction: column
    &__message
      width: 100%
      height: 123px
      margin-bottom: 15px
    &__title
      &--mb-3
        margin-bottom: 15px
    &__input
      margin-top: 0
    &__box
      display: flex
      flex-direction: column
      align-items: start
    &__button
      order: 2
    &__info
      margin-bottom: 15px
      order: 1
  .modal
    &__dialog
      min-width: 70%

@media (max-width: 510px)
  .footer
    &__bottom
      flex-direction: column
      align-items: start
      grid-row: 8 / 9
    &__payment
      margin-top: 10px

@media (max-width: 480px)
  .navbar
    &-top
      padding-top: 27px
      padding-bottom: 27px
    &-bottom
      &--visible
        top: 72px
  .newsletter
    &-title
      font-style: normal
      font-weight: 300
      font-size: 20px
      line-height: 25px
      &__strong
        font-size: 30px
        line-height: 38px
  .subscribe
    &__input
      padding-left: 20px
  .hotel
    &-slider
      min-height: 179px
      max-height: 179px
      // width: 100%
      // height: 250px
      overflow: hidden
      &__image
        width: 100%
        height: 100%
        object-fit: cover
  .booking
    height: 207px
    padding-right: 24px
    padding-left: 24px
    padding-top: 25px
  .newsletter
    &-title
      width: 60%
      margin-top: 5px
      margin-bottom: 23px
    &-title
      &__strong
        font-size: 30px
        line-height: 46px

  .footer
    &-wrapper
        // grid-column: 1 / 13
    &__social
      &-network
        // grid-column: 1 / 13
        display: flex
        flex-direction: row
        flex-wrap: wrap
      &-links
        margin-top: 22px
    &__additional
      // grid-column: 1 / 13
    &__title
      &--inline
        flex: 0 1 100%
  .modal
    &__dialog
      min-width: 80%
      padding: 25px 20px
    &__input
      padding: 0 13px
      font-size: 10px
      height: 40px
      margin-top: 10px
    &__message
      padding-left: 13px
      font-size: 10px
      height: 100px
      margin-top: 10px
    &__title
      font-size: 15px
      line-height: 18px
      margin: 0
      margin-top: 10px
    &__info
      margin-bottom: 10px
    &__button
    &__box
      margin-top: 10px

@media (max-width: 400px)
  .navbar
    &__mobile
  .search
    &__input
      width: 240px

@media (max-width: 380px)
  .newsletter
    &-wrapper
  .footer
    &-wrapper
      grid-template-columns: repeat(12, 1fr)
      grid-gap: 10px
    &__logo
      width: 99px
      &_wrapper
        grid-column: 1 / 13
        grid-row: 1
        margin: 0
    &__social
      &-links
        margin-top: 20px
      &-network
        grid-column: 1 / 13
        grid-row: 2
        margin: 0
    &__title
      &--inline
        margin-right: 0
      &--mb-3
    &__text
      margin-top: 0
      margin-bottom: 30px
      &--bottom
        margin-bottom: 0
    &__legal
      grid-column: 1 / 13
      grid-row: 3
      margin-top: 20px
    &__additional
      grid-column: 1 / 13
      grid-row: 4
      margin-top: 22px
      margin-left: 0
    &__categories
      grid-column: 1 / 13
      grid-row: 5
      margin-top: 30px
    &__contact
      &-details
        grid-column: 1 / 13
        grid-row: 6
        max-width: 90%
        margin-top: 40px
      &-form
        grid-column: 1 / 13
        grid-row: 7
        margin-right: 0
        margin-top: 40px
    &__icon
      &-wrapper
        min-width: 28px
    &__copyrait
      width: 290px
      margin-top: 30px
    &__button
      margin-top: 15px
    &__info
      margin: 0
    &__item
      &--mb-2
        align-items: flex-start
    &__bottom
      grid-column: 1 / 13
      grid-row: 8
      margin: 0
    &__copyrait
      margin-top: 20px
    &__payment
      margin: 0
      margin-top: 10px

@media (max-width: 350px)
  .footer
    &__contact
      &-details
      &-form
        grid-row: 7
        grid-column: 1 / 13

@media (max-width: 320px)
  .container
    max-width: 87%
  .navbar
    &-top
      padding-top: 25px
      padding-bottom: 25px
    &-bottom
      &--visible
        top: 68px
  .breadcrumb
    &-list
      padding: 11px 0
  .hotel
    &-info
      padding-bottom: 38px
      &__name
        font-size: 24px
    &-slider
      height: 179px
  .stars
    margin-right: 10px
  .newsletter
    padding: 70px 0 83px 0
    height: 319px
    &-title
      margin-top: 10px
      margin-bottom: 35px
  .newsletter
    &-title
      font-style: normal
      font-weight: 300
      font-size: 20px
      line-height: 25px
      &__strong
        font-size: 30px
        line-height: 38px
  .subscribe
    &__input
      padding-left: 20px
  .hotel
    padding-bottom: 35px
    &-slider
      min-height: 179px
      max-height: 179px
      // width: 100%
      // height: 250px
      overflow: hidden
      &__image
        width: 100%
        height: 100%
        object-fit: cover
  .booking
    height: 207px
    padding-right: 24px
    padding-left: 24px
    padding-top: 25px
  .map
    height: 182px
  .newsletter
    &-title
      width: 60%
      margin-top: 5px
      margin-bottom: 23px
    &-title
      &__strong
        font-size: 30px
        line-height: 46px
  .reviews
    padding: 25px 0 0 0
    &__title
    &-slider
      &__button
        &--prev
          left: 40%
        &--next
          right: 40%
      &__item
        // padding: 0 40px 36px
      &__text
        // line-height: 140%
  .swiper
    &-container
    &-wrapper
  .activities
    &__title
      font-style: normal
      font-weight: bold
      font-size: 18px
      line-height: 23px
      margin-top: 37px
      margin-bottom: 38px
  .footer
    &-wrapper
      grid-gap: 10px
    &__logo
      width: 94px
      &_wrapper
        grid-row: 1
        margin: 0
    &__social
      &-links
        margin-top: 20px
      &-network
        grid-row: 2
        margin: 0
    &__title
      &--inline
        margin-right: 0
      &--mb-3
        margin-bottom: 28px
      &--mb-4
        margin-bottom: 16px
    &__text
      margin-top: 0
      margin-bottom: 21px
      line-height: 20px
      &--bottom
        margin-bottom: 0
    &__legal
      grid-row: 3
      margin-top: 17px
    &__additional
      grid-row: 4
      margin-top: 20px
      margin-left: 0
    &__categories
      grid-row: 5
      margin-top: 22px
    &__contact
      &-details
        grid-row: 6
        max-width: 90%
        margin-top: 30px
      &-form
        grid-row: 7
        margin-top: 22px
      &__ul
    &__message
      max-height: 123px
    &__icon
      margin-top: 5px
      &-wrapper
        min-width: 28px
    &__copyrait
      width: 290px
      margin-top: 30px
    &__button
      margin-top: 15px
    &__info
      margin: 0
    &__item
      &--mb-2
        width: 280px
        font-size: 13px
        align-items: flex-start
        margin-bottom: 23px
    &__bottom
      grid-row: 8
      margin: 0
    &__copyrait
      margin-top: 17px
    &__payment
      margin: 0
      margin-top: 8px
    &__input
      margin: 0
      &-group
        // margin-bottom: 5px
    &__link
      font-size: 14px
      line-height: 22px

@media (max-width: 290px)
  .footer
    &__contact
      &-form
        grid-row: 7
        grid-column: 1 / 6
    &__copyrait
      flex-direction: column
      align-items: flex-start
      justify-content: space-between
    &__text
      &--bottom
        font-size: 12px
        line-height: 15px
        margin-top: 7px

@media (max-width: 280px)
  .navbar
    &__mobile
  .search
    &__input
      width: 220px
  .footer
    &-wrapper
      grid-gap: 10px
      &-form
        grid-row: 7
        grid-column: 1 / 4
    &__text
      &--bottom
        font-size: 10px
        line-height: 12px
        margin-top: 5px

@media (max-height: 960px)
  .modal
    &__dialog

@media (max-height: 640px)
  .modal
    &__dialog
      padding: 25px 38px
      max-height: 460px
    &__input
      height: 40px
      margin-bottom: 13px
    &__message
      height: 100px
      margin-bottom: 13px

@media (max-height: 540px)
  .modal
    &__dialog
      padding: 25px 38px
      max-height: 460px
    &__input
      height: 40px
      margin-bottom: 13px
    &__message
      height: 100px
      margin-bottom: 13px

@media (max-height: 480px)
  .modal
    &__dialog
      padding: 20px 38px
      max-height: 360px
    &__title
      font-size: 15px
      margin-bottom: 7px
      margin-top: 0
    &__input
      height: 40px
      margin-bottom: 7px
      font-size: 12px
    &__message
      height: 70px
      margin-bottom: 7px
      font-size: 12px
    &__button
    &__info
      margin-bottom: 7px

@media (max-height: 380px)
  .modal
    &__dialog
      max-height: 320px
      padding: 15px 20px
    &__input
      padding: 0 13px
      font-size: 10px
      height: 40px
      margin-bottom: 0
      margin-top: 5px
    &__message
      padding-left: 13px
      font-size: 10px
      height: 50px
      margin-bottom: 0
      margin-top: 5px
    &__title
      font-size: 12px
      line-height: 15px
      margin: 0
      margin-top: 0px
      margin-bottom: 0
    &__info
      margin-bottom: 0
    &__box
      margin-top: 3px
  .invalid
    font-size: 10px
    line-height: 10px

@media (max-height: 340px)
  .navbar
    &-bottom
      padding-top: 0
  .modal
    &__dialog
    &__input
      padding: 0 13px
      height: 30px
    &__message
      padding-left: 13px
    &__info
      font-size: 10px
    &__button
      min-width: 140px
      min-height: 30px
      font-size: 10px
      padding-top: 12px
      padding-bottom: 12px
